html {
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  line-height: 1.6;
  background-color: black;
  height: 100%;
}

/*
@page {
  size: $labelWidth mm $labelHeight mm;
  max-height: 100%;
  max-width: 100%
}
*/

.page {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0;
  border: dashed 2px transparent; // Or make red so you can see the page border
  margin: 0;
  page-break-after: always;
}

body {
  padding:
    0;
  margin:
    0;
  background:
    #000000;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#printButton {
  display: block;
  position: relative;
  float: right;
}

#printbtnContainer {
  width: $labelWidth*$scaler;
}

canvas {
  width: 100%;
}

#qrCode {
  position: relative;
  float: right;
  width: 200px !important;
  height: 200px !important;
}


body {
  margin: 10px;
}

#labelContainer {
  display:
    block;
  position:
    relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


#outerWrapper {
  display: block;
}

.large_62mm_100mm #outerWrapper{
  width: ($labelWidth*$scaler);
  height: ($labelHeight*$scaler);
  font-size: 14px;
}

.small_29mm_62mm #outerWrapper {
  width: ($labelWidthSmall*$scaler);
  height: ($labelHeightSmall*$scaler);
  font-size: 8px;
}

#wrapper {
  width: 100%;
  padding: $padding;
  display: grid;
  grid-gap: 0px;

  background-color: #fff;
  color: #444;
  bottom: 0;
  //margin: $padding;
}

.large_62mm_100mm #wrapper {
  height: ($labelHeight*$scaler)-2*$padding;
  width: ($labelWidth*$scaler)-2*$padding;
  grid-template-columns: [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr;
  grid-template-rows: [row] 4fr [row] 1fr [row] 1fr [row] 1fr [row] 1fr [row] 2fr;
}

.small_29mm_62mm #wrapper {
  height: ($labelHeightSmall*$scaler)-2*$padding;
  width: ($labelWidthSmall*$scaler)-2*$padding;
  grid-template-columns: [col] 1fr [col] 1fr [col] 1fr;
  grid-template-rows: [row] 4fr [row] 1fr [row] 1fr [row] 1fr [row] 1fr;
}

input {
  font-family: inherit;
  font-size: inherit;
  resize: none;
  width: 95%;
  max-height: 100%;
  margin: 0;
  border: none;
  height: inherit;
  font-size: 1.0em;
  background: transparent;
}

.box {
  background-color: #fff;
  color: #000;
  border-width: 1px;
  border-style: solid;
  border-radius: 0px;
  border-color: #000000;
  padding: .45em;
  font-size: 1.5em;
}

.emptySpace {
  background: url(assets/tile.png);
}

/* LARGE */

#title {
  border: none;
  resize: none;
  font-size: 2.3em;
  position: relative;
  float: left;
  height: 100%;
  max-width: 79%;
  line-height: 1.4em;
  max-height: 4.2em;
  overflow: hidden;
}


.header {
  grid-column: col / span 6;
  grid-row: row;
}

.url {
  grid-column: col / span 6;
  grid-row: row 2;
}

.material {
  grid-column: col / span;
  grid-row: row 3;
}

.materialInfo {
  grid-column: col 2 / span 3;
  grid-row: row 3;
}

.contact {
  grid-column: col / span;
  grid-row: row 4;
}

.contactInfo {
  grid-column: col 2 / span 3;
  grid-row: row 4;
}

.date {
  grid-column: col / span;
  grid-row: row 5;
}

.dateInfo {
  grid-column: col 2 / span 3;
  grid-row: row 5;
}

.notes {
  grid-column: col / span 4;
  grid-row: row 6;
}

.twoSpan {
  grid-column: span 2;
}

.lab {
  background-color: #000;
  font-size: 2em;
  color: #fff;
}

/* small  */

.small_29mm_62mm #title {
  border: none;
  resize: none;
  font-size: 3.4em;
  line-height: 1.4em;
  position: relative;
  float: left;
  height: 100%;
  max-width: 75%;
  max-height: 2.7em;
}

.small_29mm_62mm #qrCode {
  position: relative;
  float: right;
  width: 130px !important;
  height: 130px !important;
}


.small_29mm_62mm .header {
  grid-column: col / span 3;
  grid-row: row;
}

.small_29mm_62mm .url {
  grid-column: col / span 3;
  grid-row: row 2;
}

.small_29mm_62mm .material {
  display: none;
}

.small_29mm_62mm .materialInfo {
  display: none;
}

.small_29mm_62mm .contact {
  display: none;
}

.small_29mm_62mm .contactInfo {
  display: none;
}

.small_29mm_62mm .date {
  display: none;
}

.small_29mm_62mm .dateInfo {
  display: none;
}

.small_29mm_62mm .notes {
  display: none;
}

.small_29mm_62mm .lab {
  grid-column: col 3 / span 1;
  grid-row: row 3  / span 3;
  background-color: #000;
  font-size: 2em;
  color: #fff;
}


.small_29mm_62mm #printbtnContainer {
  width: $labelWidthSmall*$scaler;
}