$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$background-color: #121212;
$font-color: #dae0e0;
$pageHeight: 29px;
$pageWidth: 62px;
$scaler: 15;

:export {
    pageHeight: $pageHeight;
    pageWidth: $pageWidth;
    scaler: $scaler;
}